.main-container {
  background-image: url(../../assets/images/bus-seat.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}

.input {
  margin-bottom: 10px;
}

.row-coach {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  gap: 10px;

}

.message {
  font-size: 16px;
}

.seat-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 72px;
  border-radius: 10px;
  color: white;
}

.row-heading {
  margin-right: 32px;
  font-size: 12px;
  background: rgb(14, 12, 12);
}

.seat {
  background: rgb(191, 166, 166);
  margin: 0 2px;
}

.seat.booked {
  background: rgb(131, 14, 30);
}